<section class="container">
    <ul class="user-details list-group row">
        <li class="list-group-item">שם: {{session.user.username}}</li>
        <li class="list-group-item">דוא"ל: {{session.user.email}}</li>
    </ul>
</section>
