<form action="/customer/account/login" method="POST" class="container">
    <div class="row form-group">
        <label for="email">דוא"ל</label>
        <input class="form-control" id="email" type="email" name="email">
    </div>
    <div class="row form-group">
        <label for="password">סיסמה</label>
        <input class="form-control" type="password" id="password" name="password">
    </div>
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">שלח</button>
    </div>
</form>